/*
  aprilFools.css
  Written by Xavier L
  Inspired by work by Wes Bos
  I assume no responsibility for angry co-workers or lost productivity 

  Put these CSS definitons into your co-workers userContent.css file.
  They will be applied to every website they visit as well as their developer tools.

  Windows, Mac & Linux: YOUR_FIREFOX_PROFILE/chrome/userContent.css  
*/

/* Turn every website upside down */
body {
  /*transform: rotate(180deg);*/
}

/* Spin every Website */ 
body {
  /*animation: spin 5s linear infinite;*/
}

/* Flip all images upside down */
img {
  /*transform: rotate(180deg);*/
}

/* COMIC SANS EVERYTHING */
body, p, body p, body div p {
  /*font-family: 'Comic Sans MS', cursive !important;*/
}

/* Spin all images */ 
img {
  /*animation: spin 1s linear infinite;*/
}

/* Hide every 2nd paragraph element on a page */
p:nth-child(2) {
  /*display:none !important;*/
}

/* Make every website fall over! */
html, body {
  /*height: 100%;*/
}

html {
  /*perspective: 1000;*/
}

body {
  /*transform-origin: bottom center;
  transform: rotateX(-90deg);
  animation: fall 1.5s ease-in; */
}
/* END (Website fall over) */

/* Insert a phrase every paragraph */
p:before {
   /*content: "YOLO ";*/
}

/* Breaking bad-esque links */
a:after {
  /*content: ", BITCH!";*/
}


/* Animations */
@keyframes spin {
  0%   { transform: rotate(0deg); }
  100%   { transform: rotate(360deg); }
}

@keyframes fall {
  0%   { transform: none; }
  100%   { transform: rotateX(-90deg); }
}
